#cocontainercontainer {
    background: linear-gradient(0deg, #fdf3fd, #fcfafd, #fefcff, #fefcff, #fdf6fe, #f2ecf3, #eeecfa, #eeecfa, #f3f1ff, #f1effc);
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#cocontainer {
    height: 36em;
    width: auto;
}

#homeslogan {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cotext {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Helvetica, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13.3pt;
}

#cogriddiv {
    height: 100%;
    background-image: url("../../../assets/cogrid.jpg");
    background-size: cover;
}