#navbarcontainer {
    background: linear-gradient(90deg, #741f1f, #741f1f, #741f1f, #521515);
}

#idollalogo {
    height: 44px;
    width: 140px;
    margin-top: 0.5%;
    background-image: url("../../assets/idollalogo.png");
    background-size: cover;
}

#idflag, #usflag {
    height: 0.8rem;
    width: 1.2rem;
    box-shadow: 1px 1px 1px 0px #1a1a1a;
}
