/* #homepscontainerdiv {
    margin-bottom: -28rem;
} */

#homegolddiv {
    height: 100%;
    background-image: url("../../../assets/products/IMG_3791.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homediamonddiv {
    background-image: url("../../../assets/products/IMG_6710.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homeringimg {
    background-image: url("../../../assets/products/IMG_3796.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homependantimg {
    background-image: url("../../../assets/products/IMG_3799.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homeearringsimg {
    background-image: url("../../../assets/products/IMG_3793.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homenecklaceimg {
    background-image: url("../../../assets/products/IMG_3802.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homebraceletimg {
    background-image: url("../../../assets/products/IMG_3795.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homebroochimg {
    background-image: url("../../../assets/products/IMG_3792.jpeg");
    background-size: 100% 100%;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

#homegolddiamondsizediv {
    height: 34rem;
}

#homegolddiv:hover {
    box-shadow: 0px 0px 4px 2px #c9c9c9;
}

#homegolddiv:active {
    box-shadow: 0px 0px 4px 4px #aeaeae;
}

#homediamonddiv:hover {
    box-shadow: 0px 0px 4px 2px #c9c9c9;
}

#homediamonddiv:active {
    box-shadow: 0px 0px 4px 4px #aeaeae;
}

#homejewelrytypesdiv button:hover {
    box-shadow: 0px 0px 4px 2px #c9c9c9;
}

#homejewelrytypesdiv button:active {
    box-shadow: 0px 0px 4px 4px #aeaeae;
}

#homecataloguediv {
    box-shadow: 0px 1px 1px 0px rgb(104, 104, 104);
    background: linear-gradient(90deg, #fcfafd, #fefcff, #f3f1ff, #f1effc);
}

#homecataloguediv:hover {
    box-shadow: 0px 2px 2px 0px rgb(146, 146, 146);
}

#homecataloguediv:active {
    box-shadow: 0px 1px 1px 2px rgb(161, 161, 161);
}