#cocontainermobile {
    /* height: 3em; */
    /* min-width: 28em;
    max-width: 31em; */
    width: 92%;
}

#cotextmobile {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Helvetica, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13.3pt;
}