#cataloguegolddiv {
    background: linear-gradient(90deg, #f9f6fd, #ebeaf0);
}

#cataloguediamonddiv {
    background: linear-gradient(90deg, #ebeaf0, #ebe9f7);
}

#cataloguegolddiv, #cataloguediamonddiv  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0.85rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
}

.cataloguejewelrytypedivs {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.cataloguejewelrytypedivs > div:first-child {
    background: linear-gradient(90deg, #fcfafd, #fefcff, #fefcff);
    width: 98%;
    padding-left: 0.65rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: 0.8px solid rgb(73, 73, 73);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    box-shadow: 0px 1px 1px 0px rgb(104, 104, 104);
    font-weight: 600;
}

.cataloguejewelrytypedivs > div:last-child {
    gap: 0.5rem;
}

.cataloguejewelrytypedivs > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 9rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 1px 2px 0px rgb(80, 80, 80);
    padding-bottom: 0.2rem;
}

/* .cataloguediamonddiv > div > .cataloguejewelrytypedivs > div > div > div > p:first-child {
    font-weight: 700;
} */

.cataloguejewelryimages {
    height: 9rem;
    width: 9rem;
}

.cataloguejewelryimages img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.cataloguejewelrytypedivs > div > div > div {
    font-size: 10pt;
}